@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #4f46e5, #9333ea, #ec4899);
  background-attachment: fixed;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}